/* styles.css */
body {
    background-color: antiquewhite;
    display: inline;
    margin: 20px;
}

h1 {
    font-family:'Courier New', Courier, monospace;
    color: #007708;
    font-size: 65px;
    text-align: center;
    margin-bottom: -20px;
}

h2 {
    font-family:'Courier New', Courier, monospace;
    color: #e29700da;
    text-align: center;
    margin-top: 40px;
    margin-bottom: -20px;
}

h3 {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

h4 {
    font-family: 'Courier New', Courier, monospace;
    text-align: left;
    padding-left: 40px;
    color:#007708;
    font-size: 25px;
}

h5 {
    font-family: 'Courier New', Courier, monospace;
    text-align: left;
    padding-left: 60px;
    font-size: 20px;
}

p {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

ul {
    font-family: 'Courier New', Courier, monospace;
    font-weight: 500;
    padding-left: 100px;
    padding-right: 100px;
}

ol {
    font-family: 'Courier New', Courier, monospace;
    font-weight: 500;
    padding-left: 100px;
    padding-right: 100px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 35%;
}

.flex {
    display: inline;
    margin: 20px;
}
